<div class="flex">
  <button>
    <a
      href="/register"
      class="px-4 py-2 bg-purple-700 text-white font-semibold mr-3 rounded text-lg"
    >
      Registrate
    </a>
  </button>
  <button class=" px-4 py-2 bg-neutral-500 text-white font-semibold rounded text-base">
    <a href="/login"> Iniciar sesión </a>
  </button>
</div>
