---
import Buttons from "./Buttons.astro";

const isLandingPage = Astro.url.pathname === "/"; //Logica para que solo se muestren los btones cuando este en la página de inicio
---

<div
  class="flex flex-col bg-white justify-center items-center p-20 gap-2 w-1/2 min-h-screen text-black"
>
  <img src="/logo.png" alt="logo" class="w-28" />
  <div class="">
    <h1 class="font-bold text-3xl">Relajate jugando,</h1>
    <h1 class="font-bold text-3xl mb-4">Organizate ganando</h1>
    <p class="mb-4">
      ¡Bienvenido a nuestra página web! Sumérgete en nuestro juego diseñado para
      relajarte y divertirte, ideal para liberar el estrés. Además, te ofrecemos
      herramientas para organizar tus tareas pendientes, garantizando que puedas
      gestionar tu tiempo de manera eficaz. Explora y disfruta de la combinación
      perfecta entre entretenimiento y productividad en un solo lugar.
    </p>
    {isLandingPage && <Buttons />}
  </div>
</div>
